# gcp cloud infrastructure authentication details

## Your project_id of your gcp account
# Create a project in your gcp account and paste the id here
project_id      = ""

###################

## Region 
region          = "us-central1"

###################

## Machine type of your gcp server
machine_type    = "e2-small"

###################

## Your SSH Details used to access the server
# Fill in the path to the public key of the ssh key 
public_keypath  = ""

# Fill in the path to the private key of the ssh key 
private_keypath = ""